
* { margin: 0px; padding: 0px; }

html { height: 100%; box-sizing: border-box; }
body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}
/* HEADINGS DEFAULT */
h1, h2, h3, h4, h5, h6 { color: #444; font-family: 'Averia Serif Libre', cursive; }
a { text-decoration: none; }
ul, ol { margin-left: 40px; }
hr { margin: 10px 0px; opacity: .25; }

/* FORM DEFAULTS */
form h2 {
    margin: 25px auto;
    text-align: center;
    font-family: 'Averia Serif Libre', cursive;
}
form input {
    width: 100%;
    display: block;
    padding: 13px 13px;
    font-size: 1em;
    margin: 5px auto 10px;
    border-radius: 3px;
    box-sizing : border-box;
    background: transparent;
    border: 1px solid #3E606F;
}
form input:focus {
    outline: none;
}
/* BUTTON DEFAULT */
.btn {
    color: white;
    background: #4E6166;
    text-align: center;
    border: none;
    border-radius: 5px;
    display: block;
    letter-spacing: .1em;
    margin: 10px 0px;
    padding: 13px 20px;
    text-decoration: none;
}
.container {
    width: 80%;
    margin: 0px auto;
}
/* NAVBAR */
.navbar {
    margin: 0 auto;
    overflow: hidden;
    background-color: #3E606F;
    border-radius: 0px 0px 6px 6px;
}
.navbar ul {
    list-style-type: none;
    float: right;
}
.navbar ul li {
    float: left;
    font-family: 'Noto Serif', serif;
}
.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 28px;
    text-decoration: none;
}
.navbar ul li a:hover {
    color: #B9E6F2;
    background-color: #334F5C;
}

/* LOGO */
.navbar .logo_div {
    float: left;
    padding-top: 5px;
    padding-left: 40px;
}
.navbar .logo_div h1 {
    color: #B9E6F2;
    font-size: 3em;
    letter-spacing: 5px;
    font-weight: 100;
    font-family: 'Tangerine', cursive;
}

/* FOOTER */
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    background-color: #73707D;
    text-align: center;
    width: 80%;
    margin: 20px auto 0px;
    padding: 20px 0px;
}
/* BANNER: Welcome message; */
.banner {
    margin: 5px auto;
    min-height: 400px;
    color: white;
    border-radius: 5px;
    background-image: url('../image/banner.jpg');
    background-size: 100% 100%;
}
.banner .welcome_msg {
    width: 45%;
    float: left;
    padding: 20px;
}
.banner .welcome_msg h1 {
    color: #B9E6F2;
    margin: 25px 0px;
    font-size: 2.4em;
    font-family: 'Averia Serif Libre', cursive;
}
.banner .welcome_msg p {
    color: white;
    font-size: 1.5em;
    line-height: 1.8em;
    font-family: 'Noto Serif', serif;
}
.banner .welcome_msg p span {
    font-size: .81em;
    color: #3E606F;
}
.banner .welcome_msg a {
    width: 30%;
    margin: 20px 0px;
    padding: 12px 15px;
    font-size: 1.2em;
    text-decoration: none;
}
.banner .welcome_msg a:hover {
    background: #374447;
}

/* BANNER: Login Form; */
.banner .login_div {
    width: 50%;
    float: left;
}
.banner .login_div form {
    margin-top: 40px;
}
.banner .login_div form h2 {
    color: white;
    margin-bottom: 20px;
    font-family: 'Noto Serif', serif;
}
.banner .login_div form input {
    width: 60%;
    color: white;
    border: 1px solid white;
    margin: 10px auto;
    letter-spacing: 1.3px;
    font-family: 'Noto Serif', serif;
}
.banner .login_div form button {
    display: block;
    background: #006384;
    margin-left: 20%;
}
/* CONTENT */
.content {
    margin: 5px auto;
    border-radius: 5px;
    min-height: 400px;
}
.content:after {
    content: "";
    display: block;
    clear: both;
}
.content .content-title {
    margin: 10px 0px;
    color: #374447;
    font-family: 'Averia Serif Libre', cursive;
}
.content .post {
    width: 335px;
    margin: 9px;
    min-height: 320px;
    float: left;
    border-radius: 2px;
    border: 1px solid #b3b3b3;
    position: relative;
}
.content .post .category {
    margin-top: 0px;
    padding: 3px 8px;
    color: #374447;
    background: white;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #374447;
    box-shadow: 3px 2px 2px;
    position: absolute;
    left: 5px; top: 5px;
    z-index: 3;
}
.content .post .category:hover {
    box-shadow: 3px 2px 2px;
    color: white;
    background: #374447;
    transition: .4s;
    opacity: 1;
}
.content .post .post_image {
    height: 260px;
    width: 100%;
    background-size: 100%;
}
.content .post .post_image {
    width: 100%;
    height: 260px;
}
.content .post .post_info {
    height: 100%;
    padding: 0px 5px;
    font-weight: 200;
    font-family: 'Noto Serif', serif;
}
.content .post .post_info {
    color: #222;
}
.content .post .post_info span {
    color: #A6A6A6;
    font-style: italic;
}
.content .post .post_info span.read_more {
    position: absolute;
    right: 5px; bottom: 5px;
}
/* * * * * * * * *
* SINGLE PAGE
* * * * * * * * */
.content .post-wrapper {
    width: 70%;
    float: left;
    min-height: 250px;
}
.full-post-div {
    min-height: 300px;
    padding: 20px;
    border: 1px solid #e4e1e1;
    border-radius: 2px;
}
.full-post-div h2.post-title {
    margin: 10px auto 20px;
    text-align: center;
}
.post-body-div {
    font-family: 'Noto Serif', serif;
    font-size: 1.2em;
}
.post-body-div p {
    margin:20px 0px;
}
.post-sidebar {
    width: 24%;
    float: left;
    margin-left: 5px;
    min-height: 400px;
}
.content .post-comments {
    margin-top: 25px;
    border-radius: 2px;
    border-top: 1px solid #e4e1e1;
    padding: 10px;
}
.post-sidebar .card {
    width: 95%;
    margin: 10px auto;
    border: 1px solid #e4e1e1;
    border-radius: 10px 10px 0px 0px;
}
.post-sidebar .card .card-header {
    padding: 10px;
    text-align: center;
    border-radius: 3px 3px 0px 0px;
    background: #3E606F;
}
.post-sidebar .card .card-header h2 {
    color: white;
}
.post-sidebar .card .card-content a {
    display: block;
    box-sizing: border-box;
    padding: 8px 10px;
    border-bottom: 1px solid #e4e1e1;
    color: #444;
}
.post-sidebar .card .card-content a:hover {
    padding-left: 20px;
    background: #F9F9F9;
    transition: 0.1s;
}
/* NOTIFICATION MESSAGES */
.message {
    width: 100%;
    margin: 0px auto;
    padding: 10px 0px;
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    border-radius: 5px;
    text-align: center;
}
.error {
    color: #a94442;
    background: #f2dede;
    border: 1px solid #a94442;
    margin-bottom: 20px;
}
.validation_errors p {
    text-align: left;
    margin-left: 10px;
}
.logged_in_info {
    text-align: right;
    padding: 10px;
}